# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

datasets/
remix_workdir/
.vscode
./archive
./OpenSelfSup-MIL
./Count_Null_Dir.py
./dirichlet_process.py
./main_HDP_EM_DP_VI.py
model/dpmil_HDP_EM.py
Localization/evaluation_python/evaluation_FROC.py